body{
    margin: 0;
}

.img-container{
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    margin: 0;
    list-style: none;
    width: 40%;
    margin-left: 80px;
    

}

li{
    display: inline;
    margin-right: 24px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



header{
    display: flex;
    height: 80px;
    align-items: center;
    z-index: 100;
    background-color: #FFFFFF33;
}

.search-container{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: end;
    align-items: center;
}

#ic_buscar{
    height: 25px;
    width: 25px;
    margin-left: 16px;
}

.searcher{
    display: flex;
    align-items: center;
    margin-right: 40px;
    padding: 16px;
    background-color: #E6E6E6;
    border-radius: 16px;
}

#ic_carro{
    height: 35px;
    width: 35px;
}

.btn-cart{
    
    display: inline-block;
    padding: 12px;
    margin-right: 32px;
    border-radius: 16px;
}

.hero{
    height: 900px;
    background-image: url(imgs/hero2.webp);
    background-size: cover;
    
}

.hero-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-text-container{
    display: flex;
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero-h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 84px;
    
    font-weight: bold;
}

.hero-h3{
    color: whitesmoke;
    font-size: 32px;
    margin-top: -2px;
}

.s2{
    height: 500px;
}

.s2-title{
    display: flex;
    justify-content: center;
    font-size: 38px;
}

.s2-container{
    display: flex;
    justify-content: center;

}

.s2-prod-1{
    border: burlywood solid 2px;
    border-radius: 16px;
    margin-left: 48px;
    margin-right: 48px;
    padding: 16px;
}

.s2-img{
    width: 140px;
    height: 140px;
}    

.s2-cookie{
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
}

.s2-price{
    text-align: center;
    font-style: italic;
    size: 14px;
    margin: 0;
}

.btn-añadir{
    text-align: center;
    padding: 1px;
    margin-top: 8px;
    background-color: green;
    border-radius: 16px;
}

.s2-prod-2{
    border: burlywood solid 2px;
    border-radius: 16px;
    margin-left: 48px;
    margin-right: 48px;
    padding: 16px;
}

.s2-prod-3{
    border: burlywood solid 2px;
    border-radius: 16px;
    margin-left: 48px;
    margin-right: 48px;
    padding: 16px;
}

.s2-btn-añadir-p{
    color: whitesmoke;
    font-weight: bold;

}

.s3{
    height: 500px;
}

.s3-title{
    display: flex;
    justify-content: center;
    font-size: 38px;
}

.s3-container{
    display: flex;
    justify-content: center;

}

.s3-prod-1{
    border: burlywood solid 2px;
    border-radius: 16px;
    margin-left: 48px;
    margin-right: 48px;
    padding: 16px;
}

.s3-img{
    width: 140px;
    height: 140px;
}    

.s3-cookie{
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
}

.s3-price{
    text-align: center;
    font-style: italic;
    size: 14px;
    margin: 0;
}

.btn-añadir{
    text-align: center;
    padding: 1px;
    margin-top: 8px;
    background-color: green;
    border-radius: 16px;
}

.s3-prod-2{
    border: burlywood solid 2px;
    border-radius: 16px;
    margin-left: 48px;
    margin-right: 48px;
    padding: 16px;
}

.s3-prod-3{
    border: burlywood solid 2px;
    border-radius: 16px;
    margin-left: 48px;
    margin-right: 48px;
    padding: 16px;
}

.s3-btn-añadir-p{
    color: whitesmoke;
    font-weight: bold;

}

.s3-prod-4{
    border: burlywood solid 2px;
    border-radius: 16px;
    margin-left: 48px;
    margin-right: 48px;
    padding: 16px;
}

.s3-prod-5{
    border: burlywood solid 2px;
    border-radius: 16px;
    margin-left: 48px;
    margin-right: 48px;
    padding: 16px;
}

.s4{
    height: 400px;
}

.s4-title{
    display: flex;
    font-size: 48px;
    width: 100%;
    justify-content: center;
}

.s4-form{
    display: flex;
    justify-content: center;
    
}

.s4-form-name{
    margin: 16px;
}

.s4-form-email{
    margin: 16px;
}

.s4-form-ta{
    margin: 16px;
}

.s4-form-submit{
    margin: 16px;
}

.form-container{
    background-color: #E6E6E6;
    padding: 96px;
    border-radius: 16px;
}